
*{
  margin: 0px;
  padding: 0px;
}
h1{
  background-color:burlywood;
  height: 5rem;
  line-height: 5rem;
  display: flex;
  justify-content: center;
}
.image{
  height: 200px;
  width:200px;
   object-fit: cover;
   display: inline;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.choice{     
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

 .image:hover{
  opacity: 0.5;
  cursor: pointer;
 }
.boxes{
  display: flex;
  justify-content: center;
  gap:5rem;

}
.yourscore{
  margin-top: 1rem;;
      font-size: 2rem;
}
.compscore{
  margin-top: 1rem;
  font-size: 2rem;
}
#your-score,#comp-score{
  display: flex;
   justify-content: center;
  font-size: 4rem;
}
.msg-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
.computer-choice{
  margin-top: 5rem;
  display: flex;
  justify-content: center;

}
#comp-choice{
  background-color: #bf9927;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
.ulost{
  background-color: red;
  color: white;
}
.uwin{
   background-color:green;
  color: white;
}